.container {
  display: flex;
  flex-wrap: wrap;
}
.container-content {
  border: 2px solid black;
  width: 20vw;
  margin: 6px;
  /* height: 300px; */
}
.container-content img {
  width: 100%;
}
.numbering {
  border: 2px solid black;
}
.active {
  background-color: red;
}
